@model TalesViewModel

@{
    ViewData["Title"] = "Contos";
}

<div class="center-view">
    <div>
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>
    @if (1 == 1)
    {
        <div class="container-custom-out-spac flex-display justify-content-center">
            <a asp-action="Create" class="btn btn-primary">Adicionar novo conto</a>
        </div>
    }
    <div class="tales-ext-container tales-border">
        <div class="tales-int-container tales-border text-center">
            @if (!Model.Tales.Any())
            {
                <p>Estranho... não há nada aqui!</p>
            }
            else
            {
                @foreach (var tale in Model.Tales)
                {
                    <div class="flex-display">
                        <div class="tale-header-container-title flex-display">
                            <a class="tale-title" asp-route-view="@tale.Title" asp-route-id="@tale.Id" asp-action="Read">@tale.Title</a>
                        </div>
                        <div class="tale-header-container-date flex-display tale-date">
                            <p>Data de postagem: @tale.PostDate</p>
                            @if (tale.EditDate != null)
                            {
                                <p>Editado em: @tale.EditDate</p>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
