@model TalesViewModel

@{
    ViewData["Title"] = "Contos";
}

<div class="title">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
@if (false)
{
    <div class="container-custom-out-spac flex-display justify-content-center">
        <a asp-action="Create" class="btn btn-primary">Adicionar novo conto</a>
    </div>
}
<div class="tales-container">

    <div class="tales-list-container">
        <ul class="tales-list">
            @if (!Model.Tales.Any())
            {
                <li>Estranho... não há nada aqui!</li>
            }
            else
            {
                @foreach (var tale in Model.Tales)
                {
                    <li class="tale-list-item">
                        <div class="tale-post-container">
                            <a class="tale-title" asp-route-view="@tale.Title" asp-route-id="@tale.Id" asp-action="Read">
                                @tale.Title
                            </a>
                            <div class="tale-post-details">
                                <a class="tale-author" href="#">
                                    @tale.Author!.Name
                                </a>
                                <a class="tale-date" href="#">
                                    @Html.DisplayFor(t => t.Tales.First(t => tale.Id == t.Id).PostDate)
                                </a>
                                @if (tale.EditDate != null)
                                {
                                    <a class="tale-date" href="#">
                                        @Html.DisplayFor(t => t.Tales.First(t => tale.Id == t.Id).EditDate)
                                    </a>
                                }
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
